body {
    font-size: 1.3em;
}

.container {
    width: 70%;
    height: 500px;
    margin: auto;
    padding: 10px;
}
.button-cue {
    height: 120px;
}
.left-cue {
    width: 15%;
    height: 50px;
    float: left;
}
.right-cue {
    float:right;
    height: 50px;
}

.stimulus{
    text-align: center;
}


#left-cue1, #left-cue2, #right-cue1, #right-cue2 {
    display:block;
}

.cue {
    display:block;
    font-size: 0.8em;
}

